
button.blue,
.button.blue {
    background-color: #4267b2;
    color: white
}

button.blue:hover,
.button.blue:hover {
    background-color: #29487d	
}

button.blue.active,
.button.blue.active,
button.blue:active,
.button.blue:active {
    background-color: #29487d	
}

button.blue.xhr,
.button.blue.xhr,
.xhr button.blue,
.xhr .button.blue {
    background-color: #4267b2;
    color: #29487d	
}

button.blue.xhr:after,
.button.blue.xhr:after,
.xhr button.blue:after,
.xhr .button.blue:after {
    background-position: 0% 0%
}

button.blue.link,
.button.blue.link {
    border: 0;
}

button.blue.link:hover,
.button.blue.link:hover {
    border: 0;
}

button.blue.link.active,
.button.blue.link.active,
button.blue.link:active,
.button.blue.link:active {
    border: 0;
}