
button.blue,
.button.blue {
    background-color: #4267b2;
    color: white
}

button.blue:hover,
.button.blue:hover {
    background-color: #29487d	
}

button.blue.active,
.button.blue.active,
button.blue:active,
.button.blue:active {
    background-color: #29487d	
}

button.blue.xhr,
.button.blue.xhr,
.xhr button.blue,
.xhr .button.blue {
    background-color: #4267b2;
    color: #29487d	
}

button.blue.xhr:after,
.button.blue.xhr:after,
.xhr button.blue:after,
.xhr .button.blue:after {
    background-position: 0% 0%
}

button.blue.link,
.button.blue.link {
    border: 0;
}

button.blue.link:hover,
.button.blue.link:hover {
    border: 0;
}

button.blue.link.active,
.button.blue.link.active,
button.blue.link:active,
.button.blue.link:active {
    border: 0;
}
.google-login{
    background-color: #d80027;
    border-color: #d80027;
    color: white;
    line-height: 49px;
    height: 49px;
    width: 100%;
    box-sizing: border-box;
    font-family: "BentonSans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.5px;
}
.google-login::before{
    content: "";
    background-image: url('../../static/images/social/social-google.svg');
    margin-right: 5px;
    margin-bottom: 4px;
    height: 16px;
    width: 20px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}