	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2017 04:52
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
	    font-size: 18px;
	    font-style: normal;
	    font-weight: 300;
}

.flaticon-arrows:before { content: "\f100"; }
.flaticon-right-arrow:before { content: "\f101"; }
.flaticon-signs:before { content: "\f102"; }
.flaticon-plus-sign-to-add:before { content: "\f103"; }
.flaticon-dustbin:before { content: "\f104"; }
.flaticon-heart-shape-silhouette:before { content: "\f105"; }
.flaticon-confirm:before { content: "\f106"; }
.flaticon-shopping-cart-with-check-mark:before { content: "\f107"; }
.flaticon-commerce:before { content: "\f108"; }
.flaticon-help-button-speech-bubble-with-question-mark:before { content: "\f109"; }
.flaticon-commerce-3:before { content: "\f10a"; }
.flaticon-commerce-2:before { content: "\f10b"; }
.flaticon-ask:before { content: "\f10c"; }
.flaticon-dollars-money-bag-on-a-hand:before { content: "\f10d"; }
.flaticon-commerce-1:before { content: "\f10e"; }
.flaticon-instagram-logo:before { content: "\f10f"; }
.flaticon-pinterest-logo:before { content: "\f110"; }
.flaticon-twitter-logo:before { content: "\f111"; }
.flaticon-facebook-circular-logo:before { content: "\f112"; }
.flaticon-telemarketer:before { content: "\f113"; }
.flaticon-avatar:before { content: "\f114"; }
.flaticon-mail:before { content: "\f115"; }
.flaticon-phone-call:before { content: "\f116"; }
.flaticon-web-page-home:before { content: "\f117"; }
.flaticon-send:before { content: "\f118"; }
.flaticon-cook-hat:before { content: "\f119"; }
.flaticon-male-chat-support:before { content: "\f11a"; }
.flaticon-forward-time:before { content: "\f11b"; }
.flaticon-shield:before { content: "\f11c"; }
.flaticon-logistics-delivery-truck-and-clock:before { content: "\f11d"; }
.flaticon-delivery-truck:before { content: "\f11e"; }
.flaticon-credit-card:before { content: "\f11f"; }
.flaticon-computer-monitor-and-mouse:before { content: "\f120"; }